[submodule "themes/papermod"]
	path = themes/papermod
	url = git@github.com:adityatelange/hugo-PaperMod.git
[submodule "themes/DoIt"]
	path = themes/DoIt
	url = git@github.com:the-bookies-club/DoItTheme.git
